.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#img_container {
  position:relative;
  display:inline-block;
  text-align:center;
  border:1px solid red;
  /* background:url('http://jsfiddle.net/img/initializing.png') no-repeat;
  width:186px;
  height:157px;*/
}

.button {
  position:absolute;
  bottom:10px;
  right:10px;
  width:100px;
  height:30px;
}

#card-movies {
height: auto;
}
.card-title {
  a {
  text-decoration: none;
  color:rgb(214, 216, 78);
  font-weight:bold;
  }
}
.card-img-overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
